* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Gamja Flower", cursive;
}
.logo_large {
  width: 3em;
  /* height: 9em; */
}
nav.main_theme_clr {
  background-color: #fff7f7;
}
section > img.modal_img {
  width: 100vw;
  /* width: 100%; */
  /* height: 100vh; */
  opacity: 80%;
}
section.modal_bg {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}
section.modal_base {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: rgba(255, 255, 255, 0.8);
  transform: translate(-50%, -40%);

  z-index: 100;
}
.flex_wrap {
  width: 100vw;
  height: 100vh;
  display: inline-flex;
}

.flex_centre {
  align-items: center;
}

.left_col {
  width: 100%;
}
.right_col {
  width: 100%;
  background-color: green;
}
.modal_base {
  background-color: #fff7f7;
  width: 50%;
  height: 60%;
  display: table;
}
.login_form {
  display: table-cell;
  vertical-align: middle;
}
.text_field {
  width: 45%;
  height: 5px;
  background-color: #bb7d3c;
  margin-bottom: 45px;
  border: none;
  border-radius: 5px;
  padding: 15px;
  text-align: center;
}
#current_location_input {
  width: 60%;
  height: 15px;
  background-color: #bb7d3c;
  margin-bottom: 45px;
  border: none;
  border-radius: 5px;
  padding: 15px;
  text-align: center;
  transform: translateX(10%);
}
.submit_btn {
  font-size: 28px;
  background-color: #5d3e1e;
  color: white;
  margin-bottom: 30px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-left: 20px;
  width: 50%;
}

.links {
  text-align: right;
  margin-bottom: -100px;
  margin-right: 40px;
}
.links a {
  font-size: 30px;
  color: #bb7d3c;
}

.form {
  text-align: center;
}

#find-me {
  color: #5d3e1e;
  font-size: 30px;
  transform: translateX(10%);
  margin-left: 60px;
  margin-right: -20px;
}

.login_form {
  color: #bb7d3c;
  font-size: 30px;
  display: table-cell;
  vertical-align: middle;
  transform: translateX(25%);
  width: 50%;
}

.modal_form {
  display: table-cell;
  vertical-align: middle;
  width: 50vw;
}

.modal_form > .title {
  text-align: center;
  color: #bb7d3c;
}
#submit_btn {
  font-size: 28px;
  background-color: #5d3e1e;
  color: white;
  margin-bottom: 30px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 300px;
  /* transform: translateX(45%); */
  margin-left: 10px;
  margin-right: 5px;
}

.login_form > button {
  font-size: 28px;
  background-color: #5d3e1e;
  color: white;
  margin-bottom: 30px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  margin-left: 10px;
  width: 300px;
}

.login_form > a {
  color: #bb7d3c;
  margin-left: 10px;
  transform: translateX(30%);
}

#id_input {
  border-radius: 5px;
  border-color: #bb7d3c;
  margin-bottom: 10px;
  margin-left: 45px;
}

#pwd_input {
  border-radius: 5px;
  border-color: #bb7d3c;
  margin-left: 20px;
}

.modal_base > .login_form > .title {
  color: #bb7d3c;
  transform: translateX(20%);
  z-index: 700;
}

#id_sign_up {
  border-radius: 5px;
  border-color: #bb7d3c;
  margin-bottom: 10px;
  margin-left: 45px;
}

#pwd_sign_up {
  border-radius: 5px;
  border-color: #bb7d3c;
  margin-left: 20px;
}

.same {
  background-color: #5d3e1e;
  color: #fff7f7;
  border-radius: 5px;
  border: none;
}
/* .sign_up_form{
  color:#BB7D3C;
  font-size: 30px;
  display:table-cell;
  vertical-align: middle;
  transform: translateX(25%);
  width:50%;
  margin-bottom: 20px;
} */

.sign_up_btn {
  font-size: 28px;
  background-color: #5d3e1e;
  color: white;
  margin-top: 20px;
  border-radius: 5px;
  display: block;
  width: 60%;
  text-align: center;
}
